Repository ChildMindInstitute/mindlogger-app, pull requests merged in 2019-12, with the labels that each got.

#309 :rocket: :robot: :arrow_up: Google Play API @ v3.0
  CHANGELOG.md
  README.md
  android/app/build.gradle
  ios/MDCApp/Info.plist
  package.json
Labels: Android, devOps, small scope

#318 ⬆️ react-native-webview@7.5.2
  CHANGELOG.md
  README.md
  android/app/build.gradle
  ios/MDCApp.xcodeproj/project.pbxproj
  ios/MDCApp/Info.plist
  package.json
  yarn.lock
Labels: bug, frontend, iOS, small scope

#323 🚑 Don't crash if responseDates is undefined
  CHANGELOG.md
  README.md
  android/app/build.gradle
  app/scenes/AppletDetails/AppletDetailsComponent.js
  ios/MDCApp/Info.plist
  package.json
Labels: backend, bug, frontend, schema, small scope

#325 Notifications (lock screen, dots): Inheritx dev
  README.md
  android/app/build.gradle
  app/scenes/AppletDetails/AppletDetailsComponent.js
  app/services/pushNotifications.js
  app/setup.js
  ios/MDCApp/Info.plist
  package.json
Labels: Android, JavaScript, React Native

#329 🚑 Resolve some breaking changes
  CHANGELOG.md
  README.md
  android/app/build.gradle
  app/setup.js
  ios/MDCApp/Info.plist
  package.json
Labels: JavaScript, React Native, bug, critical for demo, critical for mobile app users, frontend, iOS, mobile app, small scope

#324 📚📰 CONTRIBUTING
  CONTRIBUTING.md
  README.md
Labels: critical for developers, devOps, documentation
